@{
    ViewBag.Title = "Values";
}

<section id="page" class="values">
    @Html.Partial("_PageHeader",
        new ViewDataDictionary
        {
            //{ "TitleHeader", ViewBag.Title },
            { "TitleContent", @"
                <h5>
                    <br>
                    An award-winning agency in the category of innovation,
                    corporate social responsibility (CSR), digital and
                    integrated marketing that brings double bottom
                    line results with customer-centric strategies
                </h5>
                <br />
                <h6>
                    24Notion ThinkTank &#8480 | 24Notion Integrated Digital & Marketing &#8480 |<br />
                    24Notion Thought Leadership &#8480 | 24Notion Xperiential &#8480
                </h6>
                " },
            { "TitleImageSrc", Url.Content("~/Content/images/header/" + ViewBag.Title.Replace(" ", String.Empty).ToLower() + "_header_a.jpg") }
        })
    
    <div id="content" class="notosans-medium">
        <div id="values_facts">
            @Html.Partial("_PageSectionHeader", new ViewDataDictionary() { { "TitleContent", "Facts" } })

            <div class="container-fluid pg-section-content">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <ul>
                            <li>24Notion ranked #14 in corporate social responsibility (CSR) by the Business Journal’s Book of Lists.</li>
                            <li>Winner at the Innovative Awards in the category of Philanthropy and Agency support</li>
                            <li>Winner at the Hermes International Creative Awards 2020 - 2 Gold awards recipient for our work in integrated marketing, digital, social and experiential 360 engagement.</li>
                            <li>Recognized as the winner of National Interactive Media Awards for our digital, creative and out-of-the-box solutions/thinkers in disruptive consumer engagements</li>
                            <li>Nominated as the 1st global, integrated creative/marketing/advertising/PR agency that gives back by Classy Awards</li>
                            <li>We develop out-of-the-box and innovative solutions through 4 pillars in brand storytelling, social impact, creative smarts, and interactive/technology</li>
                            <li>We are blurring the lines of advertising, marketing and PR to reach your audience and create everlasting engagement and support</li>
                            <li>We’ve successfully connected brands and services through positive disruption in a very saturated market</li>
                            <li>Our integration of creativity and innovation develops our clients’ brands and also gives back to the global community</li>
                            <li>24Notion was born and bootstrapped by <a target="24notion" href="http://ivolukas.com">Ivo Lukas</a>. Currently, 24Notion expanded into Portland, New York and Atlanta while serving clients globally.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="values_innovation">
            @Html.Partial("_PageSectionHeader", new ViewDataDictionary() { { "TitleContent", "Innovation" } })

            <div class="container-fluid pg-section-content">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        24Notion is full-service global creative marketing/digital/Technology /PR and lifestyle
                        agency that combines strategic ideas with customized tactical execution. With a broad
                        understanding of the art of traditional marketing, new media, Public Relations/communications
                        and social influence, 24Notion uniquely understands how to connect your brand strategy
                        with the right consumer.
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        We know how to merge ideation with innovative solutions, producing an integrated approach
                        that effectively blurs the line of advertising, public relations and marketing. The agency
                        specializes in brand storytelling, interactive media, social influence and technology capabilities.
                    </div>
                </div>
            </div>
        </div>

        <div id="values_industry">
            @Html.Partial("_PageSectionHeader", new ViewDataDictionary() { { "TitleContent", "Industry" } })

            <div class="container-fluid pg-section-content">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-capitalize">
                        high tech   |   retail  |    financial services   |   Arts/Media & Entertainment  |  mobile & telco  |
                        sustainability  |  B2B & B2C |   Travel & Hospitality   |   lifestyle/fashion   |   consumer goods   |
                        academic   |  healthcare    |    non-profit
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PageFooter")
</section>

